.route-filter__place-filter-item {
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}