.route-filter {
    margin: 0 auto;
    padding: 60px;
    margin-top: 100px;
    max-width: 1180px;
    box-sizing: border-box;

    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}