.route-card {
    margin-top: 20px;
    max-width: 780px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 43px;

    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.route-card:first-of-type {
    margin-top: 30px;
}