.info-map__list-item {
    padding-top: 40px;
    position: relative;
}

@media screen and (max-width: 425px) {
    .info-map__list-item {
        padding-top: 60px;
    }

    .info-map__list-item:nth-child(3) {
        padding-top: 95px;
    }
}